<!DOCTYPE html>
<html><head>
	<title>Backbone.js HTML History API</title>
	<!-- styles -->
	<link rel="stylesheet" href="/styles/project.css">
	<!-- scripts -->
	<script src="/js/thirdparty/jquery.min.js"></script>
	<script src="/js/thirdparty/underscore.min.js"></script>
	<script src="/js/thirdparty/backbone.min.js"></script>
	<script src="/js/thirdparty/handlebars.runtime.js"></script>
	<script src="/templates/templates.compiled.js"></script>
	<script src="/js/views/view.js"></script>
	<script src="/js/routers/router.js"></script>
	<script src="/js/core/main.js"></script>
</head>
<body>
<div id="container"><div class="view" style="background: rgb(238, 60, 250);">
	<div class="content">

		<h1>View ID: 43</h1>

		<div class="internal">
			<a href="/">Home</a>
			<a href="/fruits">Fruits</a>
			<a href="/fruits/banana">Banana</a>
			<a href="/bad-route">Error</a>
			<a href="/fruits/banana?_escaped_fragment_=" class="crawler">Web Crawler</a>
		</div>

		<div class="external">
			<a href="http://google.ca">Google</a>
			<a href="http://wikipedia.org">Wikipedia</a>
			<a href="http://gskinner.com">gskinner</a>
		</div>

	</div>
</div></div>
<script type="text/javascript"> app.main = new app.Main(); </script>

</body></html>